page-cadusuario {
    .background{
        background-color: #334252!important;
        color: #3DC7BE!important;
    }

    .list > .item-block:first-child{
        border: 5px;
        
    }

    .item   {
        margin-bottom: 5px;
        //background: transparent;
        border:none!important;
        font-family: Arial, Helvetica, sans-serif;

        color: #3DC7BE!important;
        font-size: 15px;

        *::-webkit-input-placeholder{
            color: #3DC7BE!important;
            font-size: 15px;
        }
        background-color: #384f5f!important;
    }

    #veiculo {
        text-align: center;
    }

    #submit {
        border: 1px solid #3DC7BE!important;
        color: #3DC7BE!important;
        font-size: 15px;
    }
}
