page-home {
    #logo{
        background: transparent!important;
    }
    
    .background{
        background-color: #334252!important;
    }


    .scroll-content {
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
        
        ion-card-header.card-header{
            color: #3DC7BE!important;

             font-size: 20px;
             font-family: sans-serif, Arial, Helvetica, sans-serif;  
             margin-bottom: 15px;            
        }

        a,p{
            color:#3DC7BE!important;
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;  
            margin-bottom: 15px;   
        }


        .list > .item-block:first-child{
            border: 0px;
            margin-bottom: 5px;
        }

        .item   {
            margin-bottom: 40px;
            background: transparent;
            border:none!important;
            font-family: Arial, Helvetica, sans-serif;

            color: #3DC7BE!important;
            font-size: 15px;

            *::-webkit-input-placeholder{
                color: #3DC7BE!important;
                font-size: 15px;
            }
        }

        #user, #pass {
            position: center;
            //background-color: #364857!important;
            background-color: #384f5f!important;
            
            
        }

        #login {
            border: 1px solid #3DC7BE!important;
            color: #3DC7BE!important;
            font-size: 15px;
        }

        #face {
            font-size: 15px;
        }

        #google {
            font-size: 15px;
        }

        #bott {
            font-size: 14px;
            color: #3DC7BE!important;
        }

<<<<<<< HEAD
        #logo {
            background-color: transparent!important;
            
        }
=======
     
>>>>>>> 0047c9537fd0f7a90df9c49c5bc7542c9a5b7e54

}
