page-servicos {
    .background{
        background-color: #334252!important;
    }

    .scroll-content {
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .list > .item-block:first-child{
        border: 5px;
        margin-bottom: 15px;
        
    }

    #chapeacao{
        color:#3DC7BE!important;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;  
        margin-bottom: 15px; 
        border: 1px solid #3DC7BE!important;
    }
    #mecanica{
        color:#3DC7BE!important;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;  
        margin-bottom: 15px; 
        border: 1px solid #3DC7BE!important;
    }
    #eletrica{
        color:#3DC7BE!important;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;  
        margin-bottom: 15px; 
        border: 1px solid #3DC7BE!important;
    }
    #borracharia{
        color:#3DC7BE!important;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;  
        margin-bottom: 15px; 
        border: 1px solid #3DC7BE!important;
    }

}
