page-detalha-parceiros {

    .background{
        background-color: #334252!important;
        color: #3DC7BE!important;
        font-family: Helvetica, Arial, sans-serif;  
    }

    #map {
        height: 50%;
        
    }

    #nome {
        text-align: center;
    }

    .item-inner{
        border-bottom-color: #0682bb!important;
        border: none;
    }

    .item-block{
        background-color: transparent;
        border: none;
    }

    #serv {
        color: #0682bb!important;
    }

    

    .toolbar-background {
        background-color: #384f5f!important;
        color: #3DC7BE!important;
      }

    .toolbar-title {
        color: rgb(229, 226, 226)!important;
    }

    .bar-button {
        color: #3DC7BE!important;
    }

}
