page-parceiros {

    .background{
        background-color: #334252!important;   
    }

    .search{
        margin-top: 15px;
    }

    .list{
        border: 5px;
        margin-top: 28px;
    }

    .item-left{
        background-color: transparent;
    }
    .item-md{
        background-color: transparent;    
    }

    .item-block{
        background-color: transparent;
    }

    .label-md{
        color:#3DC7BE!important;
    }

    .label-ios{
        color:#3DC7BE!important;
    }

    .item-inner{
        border-bottom-color: #0682bb!important;
    }

*::-webkit-input-placeholder{
                color: #0682bb!important;
                font-size: 15px;
            }

    #more {
        
        color: rgb(230, 217, 217) !important;
        font-size: 35px;
        float: right;
        margin-top: 19px;

    }
}
